bld
exec
lib
jar
.project
.cdtproject
.settings
.settings/org.eclipse.cdt.core.prefs
.classpath
.cproject
.csettings
*~
*.[ao]
/TAGS
*.dbt
ospl-info.log
ospl-error.log
ospltun-error.log
ospltun-info.log
/*filter.log
/*gcc.log
/*envs-*.sh

_site/
