# Because the templates in thsi directory are copied from $OSPL_HOME/etc/idlpp/CCPP/orb_independent
# the files in this directory are not to be committed to the GIT repository.
# use $OSPL_HOME/src/tools/idlpp/make to copy the files to the necessary directories

# so:
# ignore all files
*
# except corbaCxxMainInclude
!corbaCxxMainInclude

