    <!-- ******ABOUT****** --> 
    <section id="about" class="about section">
        <div class="container">
            <h2 class="title text-center">What is the OpenSplice project?</h2>
            <p class="intro text-center"></p>
            <div class="row">
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-folder-open"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">OpenSource</h3>
                        <p>Genuine Open Source LGPLv3 licensing</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-fighter-jet"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Fast</h3>
                        <p>One of the fastest, most scalable and most reliable genuine Open Source integration technologies</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-adjust"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Configurable</h3>
                        <p>A rich set of QoS policies for controlling efficiency, determinism and fault-tolerance</p>
                    </div><!--//content-->            
            </div><!--//row-->            
        </div><!--//container-->
    </section><!--//about-->
