    <!-- ******CONTACT****** --> 
    <section id="contact" class="contact section has-pattern">
        <div class="container">
            <div class="contact-inner">
                <h2 class="title  text-center">Contact</h2>
                <p class="intro  text-center">We hope you find the OpenSplice project useful. <br />Feel free to get in touch if you have any questions or suggestions.</p>
                <div class="author-message">                      
                    <div class="profile">
                      <img class="img-responsive" src="{{ site.baseurl }}public/images/profile.png" alt="" />
                    </div><!--//profile-->
                    <div class="speech-bubble">
                        <h3 class="sub-title">Want to keep up to date on PrismTech innovations?</h3>
                        <p>We tweet about our innovations and new products at <a href="https://twitter.com/VortexDDS" target="_blank">@VortexDDS</a></p>
                        <p>If you like what we do, you can also follow some of our thought leaders on twitter and stay informed about the latest in #IoT and #IIoT</p>
                        <ul class="list-inline">
                            <li class="twitter-follow"><a href="https://twitter.com/VortexDDS" class="twitter-follow-button" data-show-count="false">Follow Vortex</a>
                                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                            </li><!--//twitter-follow-->
                            <li class="twitter-follow"><a href="https://twitter.com/toby_mcclean" class="twitter-follow-button" data-show-count="false">Follow Toby McClean</a>
                                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                            </li><!--//twitter-follow-->
                            <li class="twitter-follow"><a href="https://twitter.com/acorsaro" class="twitter-follow-button" data-show-count="false">Follow Angelo Corsaro</a>
                                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                            </li><!--//twitter-follow-->
                        </ul>
                        <!--//source-->
                    </div><!--//speech-bubble-->                        
                </div><!--//author-message-->
                <div class="clearfix"></div>
                <div class="info text-center">
                    <h4 class="sub-title">Get Connected</h4>
                    <ul class="social-icons list-inline">
                        <li><a href="https://twitter.com/VortexDDS" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="http://www.facebook.com/pages/PrismTech/140964365933471" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="http://www.linkedin.com/groups?mostPopular=&gid=1864983"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="http://www.slideshare.net/PrismTech1"><i class="fa fa-slideshare"></i></a></li>  
                        <li class="last"><a href="mailto: info@prismtech.com"><i class="fa fa-envelope"></i></a></li>              
                    </ul>
                </div><!--//info-->
            </div><!--//contact-inner-->
        </div><!--//container-->
    </section><!--//contact-->  
