    <!-- ******LICENSE****** --> 
    <section id="license" class="license section">
        <div class="container">
            <div class="license-inner">
            <h2 class="title text-center">License</h2>
                <div class="info">
                    All use of this source code is subject to the <a href="http://www.gnu.org/licenses/lgpl-3.0.en.html">LGPL, Version 3.0</a>.
<p/>
                </div><!--//info-->
            </div><!--//license-inner-->
        </div><!--//container-->
    </section><!--//how-->
