@INCLUDE_PATH = $(OSPL_HOME)/etc/
@INCLUDE = doxygen_isocpp_common.cfg

# Doxyfile 1.7.5.1

# This file describes the settings to be used by the documentation system
# doxygen (www.doxygen.org) for a project
#
# All text after a hash (#) is considered a comment and will be ignored
# The format is:
#       TAG = value [value, ...]
# For lists items can also be appended using:
#       TAG += value [value, ...]
# Values that contain spaces should be placed between quotes (" ")

#---------------------------------------------------------------------------
# Project related configuration options
#---------------------------------------------------------------------------

# The OUTPUT_DIRECTORY tag is used to specify the (relative or absolute)
# base path where the generated documentation will be put.
# If a relative path is entered, it will be relative to the location
# where doxygen was started. If left blank the current directory will be used.

OUTPUT_DIRECTORY       = $(OSPL_HOME)/internal_docs/isocpp

# If the FULL_PATH_NAMES tag is set to YES then the STRIP_FROM_PATH tag
# can be used to strip a user-defined part of the path. Stripping is
# only done if one of the specified strings matches the left-hand part of
# the path. The tag can be used to show relative paths in the file list.
# If left blank the directory from which doxygen is run is used as the
# path to strip.

STRIP_FROM_PATH        = src/api/dcps/isocpp/include \
                         src/api/dcps/isocpp/code \
                         ./

#---------------------------------------------------------------------------
# configuration options related to the input files
#---------------------------------------------------------------------------

# The INPUT tag can be used to specify the files and/or directories that contain
# documented source files. You may enter file names like "myfile.cpp" or
# directories like "/usr/src/myproject". Separate the files or directories
# with spaces.

#INPUT                  = src/api/dcps/isocpp/include/spec \
#                         src/api/dcps/isocpp/include/dds/topic/qos/detail \
#                         src/api/dcps/isocpp/include/dds/topic/detail \
#                         src/api/dcps/isocpp/include/dds/pub/qos/detail \
#                         src/api/dcps/isocpp/include/dds/pub/detail \
#                         src/api/dcps/isocpp/include/dds/domain/qos/detail \
#                         src/api/dcps/isocpp/include/dds/domain/detail \
#                         src/api/dcps/isocpp/include/dds/core/policy/detail \
#                         src/api/dcps/isocpp/include/dds/core/cond/detail \
#                         src/api/dcps/isocpp/include/dds/core/status/detail \
#                         src/api/dcps/isocpp/include/dds/core/detail \
#                         src/api/dcps/isocpp/include/dds/sub/cond/detail \
#                         src/api/dcps/isocpp/include/dds/sub/qos/detail \
#                         src/api/dcps/isocpp/include/dds/sub/detail \
#                         src/api/dcps/isocpp/include/org \
INPUT                  = src/api/dcps/isocpp/include \
                         src/api/dcps/isocpp/code \
                         src/api/dcps/isocpp/code/README.md \
                         examples/dcps
                         # demos

# If the value of the INPUT tag contains directories, you can use the
# EXCLUDE_PATTERNS tag to specify one or more wildcard patterns to exclude
# certain files from those directories. Note that the wildcards are matched
# against the file with absolute path, so to exclude all test directories
# for example use the pattern */test/*

EXCLUDE_PATTERNS       = */src/api/dcps/isocpp/include/spec/*/detail/* \
                         */src/api/dcps/isocpp/include/spec/dds/core/xtypes/* \
                         */examples/*/cpp/* \
                         */examples/*/c/* \
                         */examples/utilities/*

# The GENERATE_TODOLIST tag can be used to enable (YES) or
# disable (NO) the todo list. This list is created by putting \todo
# commands in the documentation.

GENERATE_TODOLIST      = YES

# The GENERATE_TESTLIST tag can be used to enable (YES) or
# disable (NO) the test list. This list is created by putting \test
# commands in the documentation.

GENERATE_TESTLIST      = YES

# The GENERATE_BUGLIST tag can be used to enable (YES) or
# disable (NO) the bug list. This list is created by putting \bug
# commands in the documentation.

GENERATE_BUGLIST       = YES

# The INTERNAL_DOCS tag determines if documentation
# that is typed after a \internal command is included. If the tag is set
# to NO (the default) then the documentation will be excluded.
# Set it to YES to include the internal documentation.

INTERNAL_DOCS          = YES

# If the COLLABORATION_GRAPH and HAVE_DOT tags are set to YES then doxygen
# will generate a graph for each documented class showing the direct and
# indirect implementation dependencies (inheritance, containment, and
# class references variables) of the class with other documented classes.

COLLABORATION_GRAPH    = YES

# If set to YES, the inheritance and collaboration graphs will show the
# relations between templates and their instances.

TEMPLATE_RELATIONS     = YES

# If the INLINE_INHERITED_MEMB tag is set to YES, doxygen will show all
# inherited members of a class in the documentation of that class as if those
# members were ordinary class members. Constructors, destructors and assignment
# operators of the base classes will not be shown.

INLINE_INHERITED_MEMB  = NO
