/*
   Version: 4
   Date:    2003.03.18
*/

body
{
  color: black;
  background-color: white;
  margin: 5px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 100%;
}

h1 /*inherits from body */
{
  font-size: 200%;
  border-bottom: solid black 2px;
  padding-bottom: 2px;
}

h2 /*inherits from body */
{
  font-size: 140%;
}

h3 /*inherits from body */
{
  font-size: 120%;
  margin-left: 2em;
}

h4 /*inherits from body */
{
  font-size: 110%;
  margin-left: 3em;
}

h5 /*inherits from body */
{
  font-size: 100%;
  margin-left: 4em;
}

td h4 /*inherits from body */
{
  font-size: 110%;
  margin-left: 0;
/*   margin-top: 1ex; */
  margin-bottom: 1ex;
}

p /*inherits from body */
{
  margin-left: 3em;
  margin-top: 1em;
  margin-bottom: 0;
}

p.back
{
  float:right;
  font-size: 80%;
  margin-top:0;
}

pre
{
  margin-left: 3em;
  background-color: #cccccc;
  padding: 0.5em;
}

ul
{
}

ol
{
}

li
{
  margin-left: 3em;
  margin-top: 0.5em;
  margin-bottom: 0;
}

caption
{
  font-weight: bold;
  font-size: 120%;
  padding-top: 1ex;
  padding-bottom: 1ex;
}

table
{
  margin-left: 3em;
  margin-right: 1em;
  border: solid black 1pt;
  padding: 0;
  border-collapse: collapse;
  margin-top: 1ex;
}

table.hidden
{
  margin-left: 3em;
  margin-right: 1em;
  border: 0;
  padding: 0;
  border-collapse: collapse;
  margin-top: 1ex;
}

tr
{
}

td
{
  border: solid gray 1pt;
  margin: 0;
  padding: 0.5em;
  vertical-align: top;
}

table.hidden td
{
  border: 0;
  margin: 0;
  padding: 1em;
  padding-right: 2em;
  vertical-align: top;
}

td.center
{
   text-align: center;   
}

th
{
  font-weight: bold;
  text-align: center;
  border: solid gray 1pt;
  border-bottom: solid black 1pt;
  padding: 0.5em;
  vertical-align: top;
  background-color: #cccccc;
}

code /* use browser defaults */
{
}

em /* use browser defaults */
{
}

strong /* use browser defaults */
{
}

li p /* use for indented paras below bullet point; inherits from p */
{
   margin-left: 0;
   margin-top: 0.5em;
   margin-bottom: 0;
}

li pre /* fixes a margin inheritance problem with pre inside a numbered list */
{
    margin-left: 0;
    background-color: #cccccc;
    padding: 0.5em;
}

li table /* makes table margins correct inside a numbered list */
{
  margin-left: 0;
}

li ul /* second-level+ bullet points */
{
   margin-left: 0;
}

td p /* makes table style inheritance more robust (shouldn't be needed) */
{
   margin: 0;
}

th p /* makes table style inheritance more robust (shouldn't be needed) */
{
  font-weight: bold;
  text-align: center;
  margin: 0;
}

div.image
{
  text-align: center;
}

img
{
  border: 0;
}

span.warning
{
   font-weight:bold;
   font-size:80%;
   color:#cc0000;
}

